<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
	<string>cookiecoin.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>$VERSION, Copyright © 2009-$YEAR The Bitcoin developers</string>
	<key>CFBundleShortVersionString</key>
	<string>$VERSION</string>
	<key>CFBundleVersion</key>
	<string>$VERSION</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>Cookiecoin-Qt</string>
	<key>CFBundleIdentifier</key>
	<string>org.cookiecoin.Cookiecoin-Qt</string>
        <key>CFBundleURLTypes</key>
        <array>
          <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>org.cookiecoin.CookiecoinPayment</string>
            <key>CFBundleURLSchemes</key>
            <array>
              <string>cookiecoin</string>
            </array>
          </dict>
        </array>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
